#
# pin constraints
#
NET BTNs_5Bits_TRI_IO[0] LOC = "P16"  |  IOSTANDARD = "LVCMOS25";
NET BTNs_5Bits_TRI_IO[1] LOC = "R16"  |  IOSTANDARD = "LVCMOS25";
NET BTNs_5Bits_TRI_IO[2] LOC = "N15"  |  IOSTANDARD = "LVCMOS25";
NET BTNs_5Bits_TRI_IO[3] LOC = "R18"  |  IOSTANDARD = "LVCMOS25";
NET BTNs_5Bits_TRI_IO[4] LOC = "T18"  |  IOSTANDARD = "LVCMOS25";
NET LEDs_8Bits_TRI_IO[0] LOC = "T22"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_IO[1] LOC = "T21"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_IO[2] LOC = "U22"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_IO[3] LOC = "U21"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_IO[4] LOC = "V22"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_IO[5] LOC = "W22"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_IO[6] LOC = "U19"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_IO[7] LOC = "U14"  |  IOSTANDARD = "LVCMOS33";
NET SWs_8Bits_TRI_IO[0] LOC = "F22"  |  IOSTANDARD = "LVCMOS25";
NET SWs_8Bits_TRI_IO[1] LOC = "G22"  |  IOSTANDARD = "LVCMOS25";
NET SWs_8Bits_TRI_IO[2] LOC = "H22"  |  IOSTANDARD = "LVCMOS25";
NET SWs_8Bits_TRI_IO[3] LOC = "F21"  |  IOSTANDARD = "LVCMOS25";
NET SWs_8Bits_TRI_IO[4] LOC = "H19"  |  IOSTANDARD = "LVCMOS25";
NET SWs_8Bits_TRI_IO[5] LOC = "H18"  |  IOSTANDARD = "LVCMOS25";
NET SWs_8Bits_TRI_IO[6] LOC = "H17"  |  IOSTANDARD = "LVCMOS25";
NET SWs_8Bits_TRI_IO[7] LOC = "M15"  |  IOSTANDARD = "LVCMOS25";
#
# additional constraints
#
# VGA Connections
# from Table 1-4 of UG934
# Blue
NET VGA_DATA[4]        LOC = Y21  | IOSTANDARD=LVCMOS33;  # "VGA-B1"
NET VGA_DATA[5]        LOC = Y20  | IOSTANDARD=LVCMOS33;  # "VGA-B2"
NET VGA_DATA[6]        LOC = AB20 | IOSTANDARD=LVCMOS33;  # "VGA-B3"
NET VGA_DATA[7]        LOC = AB19 | IOSTANDARD=LVCMOS33;  # "VGA-B4"
# Green
NET VGA_DATA[0]        LOC = AB22 | IOSTANDARD=LVCMOS33;  # "VGA-G1"
NET VGA_DATA[1]        LOC = AA22 | IOSTANDARD=LVCMOS33;  # "VGA-G2"
NET VGA_DATA[2]        LOC = AB21 | IOSTANDARD=LVCMOS33;  # "VGA-G3"
NET VGA_DATA[3]        LOC = AA21 | IOSTANDARD=LVCMOS33;  # "VGA-G4"
# RED
NET VGA_DATA[8]        LOC = V20  | IOSTANDARD=LVCMOS33;  # "VGA-R1"
NET VGA_DATA[9]        LOC = U20  | IOSTANDARD=LVCMOS33;  # "VGA-R2"
NET VGA_DATA[10]        LOC = V19  | IOSTANDARD=LVCMOS33;  # "VGA-R3"
NET VGA_DATA[11]        LOC = V18  | IOSTANDARD=LVCMOS33;  # "VGA-R4"
# Sync
NET VGA_VS        LOC = Y19  | IOSTANDARD=LVCMOS33;  # "VGA-VS"
NET VGA_HS        LOC = AA19 | IOSTANDARD=LVCMOS33;  # "VGA-HS"
# Debug symbols
NET VGA_VS_pin           LOC = Y11  | IOSTANDARD=LVCMOS33;  # "JA1"
NET VGA_HS_pin           LOC = AA11 | IOSTANDARD=LVCMOS33;  # "JA2"
#NET v_axi4s_vid_out_0_empty_pin           LOC = Y10  | IOSTANDARD=LVCMOS33;  # "JA3"
#NET v_axi4s_vid_out_0_locked_pin           LOC = AA9  | IOSTANDARD=LVCMOS33;  # "JA4"
#NET v_axi4s_vid_out_0_video_vsync_pin           LOC = AB11 | IOSTANDARD=LVCMOS33;  # "JA7"
#NET v_axi4s_vid_out_0_video_hsync_pin           LOC = AB10 | IOSTANDARD=LVCMOS33;  # "JA8"
#NET JA9           LOC = AB9  | IOSTANDARD=LVCMOS33;  # "JA9"
#NET JA10          LOC = AA8  | IOSTANDARD=LVCMOS33;  # "JA10"
